<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="form-group"></div>
        <div class="form-group">
            <label>
                Make sure that your vend developer app is registered with Redirect URI: {{baseUrl}}/token/vend
                <ol>
                    <li ng-if="!currentState.config.vend.client_id">client_id hasn't been configured in {{currentState.config.filename}}, before running this sample.</li>
                    <li ng-if="!currentState.config.vend.client_secret">client_secret hasn't been configured in {{currentState.config.filename}}, before running this sample.</li>
                </ol>
            </label>
            <label ng-if="currentState.oauth.access_token">
                You have an access_token for <a>{{currentState.oauth.domain_prefix}}.vendhq.com</a> which expires on {{currentState.oauth.expires}}
            </label>
        </div>
        <div class="form-group required">
            <label for="vendurl">What is the domain prefix for your Vend Store?</label>
            <div class="input-group">
                <span class="input-group-addon">https://</span>
                <input type="text" class="form-control"
                       name="vendurl" id="vendurl"
                       placeholder="mystore"
                       ng-model="domainPrefix"
                       required/>
                <span class="input-group-addon">.vendhq.com</span>
            </div>
        </div>
        <div class="form-group"
             ng-if="domainPrefix && domainPrefix.length>0 && domainPrefix.trim().length>0">
            <label>
                Click the link below to request an authorization code for oauth from Vend:
                <br/><br/>
                <a ng-href="{{vend.loginUrl()}}">
                    {{vend.authEndpoint}}
                </a>
            </label>
        </div>
    </div>
</div>
